registry=https://registry.npmjs.org/
lockfile-version=2
engine-strict=true
legacy-peer-deps=true
shamefully-hoist=true
ignore-workspace-root-check=true
enable-pre-post-scripts=true
strict-peer-dependencies=false
prefer-frozen-lockfile=true
auto-install-peers=false


